body {
    background-color: rgb(28, 28, 28);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Header{
    text-align: center;
    padding-bottom: 25px;
}

.Results{
    margin: 50px;
    color: blue;
}

.Sliders {
    padding-bottom: 5px;
}

.MajorFactorSliders,
.MinorFactorsSliders {
    text-align: center;
}

.definition {
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    background-color: #222;
    color: white;
    padding: 0 10px; /* padding left/right only at first */
    border-radius: 8px;
    width: 50%;
    margin: 8px auto 0 auto;

    transition: 
        max-height 1.5s ease,
        opacity 0.3s ease,
        padding 0.4s ease; 
}

.definition.active {
    max-height: 500px;
    opacity: 1;
    padding: 10px;
}

.numberBox {
    padding-bottom: 5px;
    text-align: center;
}
.slider{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.RivalryAmongExistingCompetitors,
.ThreatOfNewEntrants,
.BargainingPowerOfBuyers,
.ThreatOfSubstitutes,
.BargainingPowerOfSuppliers,
.Political,
.Economic,
.Socio-Cultural,
.Technological,
.Ecological,
.Legal{
    padding-bottom: 25px;
}

.Sliders{
    float: left;
}
.Sliders section {
    width: 50%; 
    float: left;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}